<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>MainBackground_121.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,0},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_122.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,1400},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_123.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,1050},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_124.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,700},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_125.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,350},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_126.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,0},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_127.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,1400},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_128.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1050},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_129.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,700},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_130.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,350},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_131.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,0},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_132.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1400},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_133.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1050},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_134.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,700},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_135.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,350},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_136.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_137.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1400},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_138.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,1050},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_139.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,700},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_140.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,350},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>MainBackground_07.png</string>
			</dict>
		</dict>
</plist>