<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>MainBackground_081.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,700},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_082.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,350},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_083.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,0},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_084.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1400},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_085.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1050},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_086.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,700},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_087.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,350},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_088.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_089.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1400},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_090.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,1050},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_091.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,700},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_092.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,350},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_093.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,0},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_094.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,1400},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_095.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,1050},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_096.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,700},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_097.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,350},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_098.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,0},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_099.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,1400},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1050},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>MainBackground_05.png</string>
			</dict>
		</dict>
</plist>