<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>JupiterWSkill_SW_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,0},{67,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,11},{67,64}}</string>
				<key>sourceSize</key>
				<string>{81,101}</string>
			</dict>

			<key>JupiterWSkill_SW_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,0},{61,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,9},{61,66}}</string>
				<key>sourceSize</key>
				<string>{73,101}</string>
			</dict>

			<key>JupiterWSkill_SW_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{77,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,20},{77,82}}</string>
				<key>sourceSize</key>
				<string>{93,105}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,128}</string>
			<key>textureFileName</key>
			<string>JupiterWSkill_SW.png</string>
			</dict>
		</dict>
</plist>