<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>MainBackground_061.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1400},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_062.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,1050},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_063.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,700},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_064.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,350},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_065.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,0},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_066.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,1400},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_067.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,1050},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_068.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,700},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_069.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,350},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_070.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,0},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_071.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,1400},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_072.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1050},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_073.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,700},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_074.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,350},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_075.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,0},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_076.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1400},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_077.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1050},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_078.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,700},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_079.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,350},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_080.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>MainBackground_04.png</string>
			</dict>
		</dict>
</plist>