<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Lightning_01.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{413,741},{81,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,0},{81,136}}</string>
				<key>sourceSize</key>
				<string>{373,328}</string>
			</dict>

			<key>Lightning_02.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{0,789},{238,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,0},{238,231}}</string>
				<key>sourceSize</key>
				<string>{376,327}</string>
			</dict>

			<key>Lightning_03.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{0,496},{241,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,0},{241,292}}</string>
				<key>sourceSize</key>
				<string>{373,327}</string>
			</dict>

			<key>Lightning_04.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{262,0},{198,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{126,0},{198,294}}</string>
				<key>sourceSize</key>
				<string>{366,323}</string>
			</dict>

			<key>Lightning_05.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{456,295},{127,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{190,0},{127,295}}</string>
				<key>sourceSize</key>
				<string>{370,324}</string>
			</dict>

			<key>Lightning_06.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{239,789},{173,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{140,0},{173,220}}</string>
				<key>sourceSize</key>
				<string>{369,323}</string>
			</dict>

			<key>Lightning_07.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{242,496},{213,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{152,0},{213,244}}</string>
				<key>sourceSize</key>
				<string>{373,329}</string>
			</dict>

			<key>Lightning_08.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{0,248},{259,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{110,0},{259,247}}</string>
				<key>sourceSize</key>
				<string>{375,328}</string>
			</dict>

			<key>Lightning_09.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{261,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{106,0},{261,247}}</string>
				<key>sourceSize</key>
				<string>{378,328}</string>
			</dict>

			<key>Lightning_10.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{260,295},{163,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{106,0},{163,199}}</string>
				<key>sourceSize</key>
				<string>{373,325}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>LightningSkill.png</string>
			</dict>
		</dict>
</plist>