<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pumpkin_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,86},{70,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,99}}</string>
			<key>sourceSize</key>
			<string>{70,110}</string>
		</dict>
		<key>pumpkin_25.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{72,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,8},{72,85}}</string>
			<key>sourceSize</key>
			<string>{78,99}</string>
		</dict>
		<key>pumpkin_26.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,0},{60,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,9},{60,84}}</string>
			<key>sourceSize</key>
			<string>{66,99}</string>
		</dict>
		<key>pumpkin_27.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,170},{61,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,11},{61,82}}</string>
			<key>sourceSize</key>
			<string>{73,99}</string>
		</dict>
		<key>pumpkin_28.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,86},{62,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,10},{62,83}}</string>
			<key>sourceSize</key>
			<string>{68,99}</string>
		</dict>
		<key>pumpkin_29.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,170},{61,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,9},{61,84}}</string>
			<key>sourceSize</key>
			<string>{69,99}</string>
		</dict>
		<key>pumpkin_30.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,0},{61,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,7},{61,86}}</string>
			<key>sourceSize</key>
			<string>{78,99}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{256,256}</string>
		<key>textureFileName</key>
		<string>Move_W.png</string>
	</dict>
</dict>
</plist>
