<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>MoveMotion_S_01.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{54,78},{49,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{49,73}}</string>
				<key>sourceSize</key>
				<string>{54,79}</string>
			</dict>

			<key>MoveMotion_S_02.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{56,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,77}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>MoveMotion_S_03.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{103,152},{48,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,3},{48,71}}</string>
				<key>sourceSize</key>
				<string>{51,79}</string>
			</dict>

			<key>MoveMotion_S_04.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{0,78},{53,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{53,76}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>MoveMotion_S_05.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{0,155},{52,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,78}}</string>
				<key>sourceSize</key>
				<string>{52,83}</string>
			</dict>

			<key>MoveMotion_S_06.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{57,0},{48,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{48,75}}</string>
				<key>sourceSize</key>
				<string>{52,81}</string>
			</dict>

			<key>MoveMotion_S_07.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{53,155},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{49,74}}</string>
				<key>sourceSize</key>
				<string>{53,77}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>