<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fire01.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,186},{20,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,37}}</string>
				<key>sourceSize</key>
				<string>{20,37}</string>
			</dict>

			<key>fire02.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,205},{21,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{21,39}}</string>
				<key>sourceSize</key>
				<string>{21,39}</string>
			</dict>

			<key>fire03.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,0},{21,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{21,44}}</string>
				<key>sourceSize</key>
				<string>{21,44}</string>
			</dict>

			<key>fire04.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,182},{21,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{21,45}}</string>
				<key>sourceSize</key>
				<string>{21,45}</string>
			</dict>

			<key>fire05.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,205},{23,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,50}}</string>
				<key>sourceSize</key>
				<string>{23,50}</string>
			</dict>

			<key>fire06.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,0},{23,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,54}}</string>
				<key>sourceSize</key>
				<string>{23,54}</string>
			</dict>

			<key>fire07.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,55},{23,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,56}}</string>
				<key>sourceSize</key>
				<string>{23,56}</string>
			</dict>

			<key>fire08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,198},{24,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,57}}</string>
				<key>sourceSize</key>
				<string>{24,57}</string>
			</dict>

			<key>fire09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,136},{25,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,61}}</string>
				<key>sourceSize</key>
				<string>{25,61}</string>
			</dict>

			<key>fire10.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,0},{24,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,63}}</string>
				<key>sourceSize</key>
				<string>{24,63}</string>
			</dict>

			<key>fire11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,69},{26,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,66}}</string>
				<key>sourceSize</key>
				<string>{26,66}</string>
			</dict>

			<key>fire12.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,136},{25,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,68}}</string>
				<key>sourceSize</key>
				<string>{25,68}</string>
			</dict>

			<key>fire13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{26,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,68}}</string>
				<key>sourceSize</key>
				<string>{26,68}</string>
			</dict>

			<key>fire14.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,64},{24,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,70}}</string>
				<key>sourceSize</key>
				<string>{24,70}</string>
			</dict>

			<key>fire15.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,112},{23,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,69}}</string>
				<key>sourceSize</key>
				<string>{23,69}</string>
			</dict>

			<key>fire16.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,45},{21,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{21,70}}</string>
				<key>sourceSize</key>
				<string>{21,70}</string>
			</dict>

			<key>fire17.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,116},{20,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,69}}</string>
				<key>sourceSize</key>
				<string>{20,69}</string>
			</dict>

			<key>fire18.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,0},{20,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,67}}</string>
				<key>sourceSize</key>
				<string>{20,67}</string>
			</dict>

			<key>fire19.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,68},{20,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,67}}</string>
				<key>sourceSize</key>
				<string>{20,67}</string>
			</dict>

			<key>fire20.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,116},{15,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{15,61}}</string>
				<key>sourceSize</key>
				<string>{15,61}</string>
			</dict>

			<key>fire21.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,0},{13,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{13,59}}</string>
				<key>sourceSize</key>
				<string>{13,59}</string>
			</dict>

			<key>fire22.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,136},{14,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,57}}</string>
				<key>sourceSize</key>
				<string>{14,57}</string>
			</dict>

			<key>fire23.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,194},{14,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,53}}</string>
				<key>sourceSize</key>
				<string>{14,53}</string>
			</dict>

			<key>fire24.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,136},{11,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{11,52}}</string>
				<key>sourceSize</key>
				<string>{11,52}</string>
			</dict>

			<key>fire25.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,68},{10,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{10,47}}</string>
				<key>sourceSize</key>
				<string>{10,47}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>fire.png</string>
			</dict>
		</dict>
</plist>