<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>JupiterQSkill_NE_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,79},{57,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,14},{57,71}}</string>
				<key>sourceSize</key>
				<string>{71,94}</string>
			</dict>

			<key>JupiterQSkill_NE_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,153},{66,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,8},{66,77}}</string>
				<key>sourceSize</key>
				<string>{71,94}</string>
			</dict>

			<key>JupiterQSkill_NE_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,153},{71,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,22},{71,63}}</string>
				<key>sourceSize</key>
				<string>{80,94}</string>
			</dict>

			<key>JupiterQSkill_NE_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{82,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,7},{82,78}}</string>
				<key>sourceSize</key>
				<string>{87,94}</string>
			</dict>

			<key>JupiterQSkill_NE_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,79},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,12},{72,73}}</string>
				<key>sourceSize</key>
				<string>{77,94}</string>
			</dict>

			<key>JupiterQSkill_NE_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,0},{54,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,22},{54,63}}</string>
				<key>sourceSize</key>
				<string>{63,94}</string>
			</dict>

			<key>JupiterQSkill_NE_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,64},{43,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,23},{43,62}}</string>
				<key>sourceSize</key>
				<string>{57,94}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>JupiterQSkill_NE.png</string>
			</dict>
		</dict>
</plist>