<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>FireWall01.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,0},{88,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,71},{88,135}}</string>
				<key>sourceSize</key>
				<string>{158,217}</string>
			</dict>

			<key>FireWall02.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,181},{95,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,64},{95,153}}</string>
				<key>sourceSize</key>
				<string>{123,217}</string>
			</dict>

			<key>FireWall03.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,0},{93,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,45},{93,158}}</string>
				<key>sourceSize</key>
				<string>{109,217}</string>
			</dict>

			<key>FireWall04.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,0},{94,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,40},{94,163}}</string>
				<key>sourceSize</key>
				<string>{118,217}</string>
			</dict>

			<key>FireWall05.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,335},{93,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,31},{93,172}}</string>
				<key>sourceSize</key>
				<string>{116,217}</string>
			</dict>

			<key>FireWall06.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,335},{94,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,28},{94,175}}</string>
				<key>sourceSize</key>
				<string>{126,217}</string>
			</dict>

			<key>FireWall07.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,322},{92,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,14},{92,188}}</string>
				<key>sourceSize</key>
				<string>{127,217}</string>
			</dict>

			<key>FireWall08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,340},{97,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,41},{97,160}}</string>
				<key>sourceSize</key>
				<string>{158,218}</string>
			</dict>

			<key>FireWall09.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,0},{90,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,0},{90,201}}</string>
				<key>sourceSize</key>
				<string>{123,218}</string>
			</dict>

			<key>FireWall10.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,202},{89,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,47},{89,154}}</string>
				<key>sourceSize</key>
				<string>{109,218}</string>
			</dict>

			<key>FireWall11.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,357},{89,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,70},{89,132}}</string>
				<key>sourceSize</key>
				<string>{118,218}</string>
			</dict>

			<key>FireWall12.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,164},{93,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,45},{93,157}}</string>
				<key>sourceSize</key>
				<string>{116,218}</string>
			</dict>

			<key>FireWall13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,181},{97,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,39},{97,158}}</string>
				<key>sourceSize</key>
				<string>{126,218}</string>
			</dict>

			<key>FireWall14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{100,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,17},{100,180}}</string>
				<key>sourceSize</key>
				<string>{127,218}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>FireWall.png</string>
			</dict>
		</dict>
</plist>