<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>explode01.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,345},{46,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,9},{46,57}}</string>
				<key>sourceSize</key>
				<string>{94,81}</string>
			</dict>

			<key>explode02.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,274},{54,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,6},{54,70}}</string>
				<key>sourceSize</key>
				<string>{101,81}</string>
			</dict>

			<key>explode03.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,81},{59,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,3},{59,78}}</string>
				<key>sourceSize</key>
				<string>{95,81}</string>
			</dict>

			<key>explode04.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,0},{67,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,1},{67,80}}</string>
				<key>sourceSize</key>
				<string>{95,81}</string>
			</dict>

			<key>explode05.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,0},{76,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,0},{76,81}}</string>
				<key>sourceSize</key>
				<string>{90,81}</string>
			</dict>

			<key>explode06.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,181},{82,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,13},{82,92}}</string>
				<key>sourceSize</key>
				<string>{94,105}</string>
			</dict>

			<key>explode07.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,181},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,12},{86,93}}</string>
				<key>sourceSize</key>
				<string>{101,105}</string>
			</dict>

			<key>explode08.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,382},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{90,105}}</string>
				<key>sourceSize</key>
				<string>{95,105}</string>
			</dict>

			<key>explode09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,276},{93,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,105}}</string>
				<key>sourceSize</key>
				<string>{95,105}</string>
			</dict>

			<key>explode10.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,276},{90,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,105}}</string>
				<key>sourceSize</key>
				<string>{90,105}</string>
			</dict>

			<key>explode11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,184},{94,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{94,91}}</string>
				<key>sourceSize</key>
				<string>{94,92}</string>
			</dict>

			<key>explode12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{98,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{98,91}}</string>
				<key>sourceSize</key>
				<string>{101,92}</string>
			</dict>

			<key>explode13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,382},{93,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{93,91}}</string>
				<key>sourceSize</key>
				<string>{95,92}</string>
			</dict>

			<key>explode14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,92},{94,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{94,91}}</string>
				<key>sourceSize</key>
				<string>{95,92}</string>
			</dict>

			<key>explode15.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,92},{89,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{89,88}}</string>
				<key>sourceSize</key>
				<string>{90,92}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>explode.png</string>
			</dict>
		</dict>
</plist>