<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Laphinx_NE1.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,0},{158,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,31},{158,138}}</string>
				<key>sourceSize</key>
				<string>{165,187}</string>
			</dict>

			<key>Laphinx_NE10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{183,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,18},{183,119}}</string>
				<key>sourceSize</key>
				<string>{186,155}</string>
			</dict>

			<key>Laphinx_NE2.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,0},{154,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,21},{154,148}}</string>
				<key>sourceSize</key>
				<string>{162,187}</string>
			</dict>

			<key>Laphinx_NE3.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,314},{140,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,5},{140,164}}</string>
				<key>sourceSize</key>
				<string>{146,187}</string>
			</dict>

			<key>Laphinx_NE4.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,149},{140,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,5},{140,164}}</string>
				<key>sourceSize</key>
				<string>{152,187}</string>
			</dict>

			<key>Laphinx_NE5.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,258},{172,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{172,130}}</string>
				<key>sourceSize</key>
				<string>{180,155}</string>
			</dict>

			<key>Laphinx_NE6.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,390},{166,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,26},{166,111}}</string>
				<key>sourceSize</key>
				<string>{172,155}</string>
			</dict>

			<key>Laphinx_NE7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,390},{173,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,17},{173,120}}</string>
				<key>sourceSize</key>
				<string>{181,155}</string>
			</dict>

			<key>Laphinx_NE8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,120},{183,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{183,137}}</string>
				<key>sourceSize</key>
				<string>{193,155}</string>
			</dict>

			<key>Laphinx_NE9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,258},{180,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,6},{180,131}}</string>
				<key>sourceSize</key>
				<string>{189,155}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>Laphinx_Eskill_NE.png</string>
			</dict>
		</dict>
</plist>