<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Laphinx_SE01.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,272},{150,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,31},{150,148}}</string>
				<key>sourceSize</key>
				<string>{161,192}</string>
			</dict>

			<key>Laphinx_SE02.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,567},{159,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,33},{159,146}}</string>
				<key>sourceSize</key>
				<string>{176,192}</string>
			</dict>

			<key>Laphinx_SE03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,840},{162,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,37},{162,115}}</string>
				<key>sourceSize</key>
				<string>{168,192}</string>
			</dict>

			<key>Laphinx_SE04.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,840},{161,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,22},{161,130}}</string>
				<key>sourceSize</key>
				<string>{173,192}</string>
			</dict>

			<key>Laphinx_SE05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,567},{172,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,22},{172,130}}</string>
				<key>sourceSize</key>
				<string>{182,192}</string>
			</dict>

			<key>Laphinx_SE06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{188,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,23},{188,129}}</string>
				<key>sourceSize</key>
				<string>{199,192}</string>
			</dict>

			<key>Laphinx_SE07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,272},{182,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,8},{182,156}}</string>
				<key>sourceSize</key>
				<string>{195,204}</string>
			</dict>

			<key>Laphinx_SE08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,130},{186,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,23},{186,141}}</string>
				<key>sourceSize</key>
				<string>{199,204}</string>
			</dict>

			<key>Laphinx_SE09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,429},{174,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,59},{174,137}}</string>
				<key>sourceSize</key>
				<string>{185,204}</string>
			</dict>

			<key>Laphinx_SE10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,698},{172,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,29},{172,141}}</string>
				<key>sourceSize</key>
				<string>{189,185}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>Laphinx_Eskill_SE.png</string>
			</dict>
		</dict>
</plist>