<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>MainBackground_161.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,350},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_162.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,0},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_163.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,1400},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_164.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1050},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_165.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,700},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_166.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,350},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_167.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,0},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_168.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1400},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_169.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1050},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_170.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,700},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_171.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,350},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_172.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_173.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1400},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_174.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,1050},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_175.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,700},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_176.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,350},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_177.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,0},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_178.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,1400},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_179.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,1050},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_180.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,700},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>MainBackground_09.png</string>
			</dict>
		</dict>
</plist>