<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>MainBackground_041.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,350},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_042.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,0},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_043.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,1400},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_044.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1050},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_045.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,700},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_046.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,350},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_047.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,0},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_048.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1400},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_049.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1050},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_050.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,700},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_051.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,350},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_052.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_053.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1400},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_054.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,1050},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_055.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,700},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_056.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,350},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_057.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,0},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_058.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,1400},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_059.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,1050},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

			<key>MainBackground_060.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,700},{480,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,349}}</string>
				<key>sourceSize</key>
				<string>{480,349}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>MainBackground_03.png</string>
			</dict>
		</dict>
</plist>